<app-add-hr-modal
  *ngIf="showAddHrModal"
  (closeModalAddHr)="handleHideAddHrModal()"
  (addHr)="handleHrAdded()"
></app-add-hr-modal>
<div class="p-3 mt-14 sm:ml-64">
  <div class="flex justify-between">
    <h2 class="text-2xl pb-4 font-semibold text-gray-800 dark:text-gray-700">
      HR
    </h2>
    <button
      (click)="handleShowAddHrModal()"
      class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-1 px-4 rounded"
    >
      Add HR
    </button>
  </div>
  <div class="relative overflow-x-auto shadow-md mt-2 sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Profile</div>
          </th>
          <th scope="col" class="px-6 py-3">Full Name</th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Email</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Status</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let hr of hrs"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img
                  class="w-10 h-10 rounded-full"
                  src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                  alt="...."
                />
              </div>
            </div>
          </td>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ hr.firstName }} {{ hr.lastName }}
          </th>
          <td class="px-6 py-4">{{ hr.email }}</td>
          <td class="px-6 py-4">
            <span
              class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              >Active</span
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [currentPage]="pagination.currentPage"
    (pageChanged)="handlePageChanged($event)"></app-pagination>
</div>

