<div class="flex flex-col items-center">
    <div
        class="w-full my-8 p-8 items-center bg-white rounded-2xl shadow-xl overflow-y-auto h-[750px] sm:max-w-4xl hover:shadow-xl dark:bg-gray-500">
        <h1 class="mr-2 text-2xl text-gray-800 font-bold sm:text-3xl dark:text-gray-100">Hi {{ currentUser.lastName }}👋
        </h1>
        <p class="mt-2 text-gray-600 dark:text-gray-200">Lets get familiar with your interests so that we can recommend
            your resources accordingly.</p>
        <app-sub-skills></app-sub-skills>
        <app-sub-skills></app-sub-skills>
        <app-sub-skills></app-sub-skills>
    </div>
</div>