<div class="flex flex-col items-center bg-gray-30 h-[800px]">
    <div
        class="w-full my-8 p-8 items-center bg-white rounded-2xl shadow-xl overflow-scroll sm:max-w-4xl hover:shadow-xl dark:bg-gray-500">
        <h1 class="mr-2 text-2xl text-gray-800 font-bold sm:text-3xl dark:text-gray-100">Hi {{ currentUser.lastName }}👋
        </h1>
        <p class="mt-2 text-gray-600 dark:text-gray-200">Lets get familiar with your interests so that we can recommend
            your resources accordingly.</p>

        <app-sub-skills [skillControlName]="frontendControlName" [skills]="frontendSkills" (callParent)="getAllSkills()"
            [skillName]="'frontend skills'" [idSkill]="idSkill"></app-sub-skills>
        <app-sub-skills [skillControlName]="backendControlName" [skills]="backendSkills" (callParent)="getAllSkills()"
            [skillName]="'backend skills'" [idSkill]="idSkill"></app-sub-skills>
        <app-sub-skills [skillControlName]="outilControlName" [skills]="outilSkills" (callParent)="getAllSkills()"
            [skillName]="'outil skills'" [idSkill]="idSkill"></app-sub-skills>
        <app-sub-skills [skillControlName]="dbControlName" [skills]="dbSkills" (callParent)="getAllSkills()"
            [skillName]="'db skills'" [idSkill]="idSkill"></app-sub-skills>
    </div>
</div>